
  <div class="row">
    <form [formGroup]="fgValidador" (ngSubmit)="GuardarPersona()" method="POST" action="formulario-contacto.php">
      <div class="row">
        <div class="input-field col s6">
            <input formControlName="Cedula" type="text" class="validate">
            <label for="Cedula">Cedula</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="Nombre" type="text" class="validate">
          <label for="Nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="Apellidos" type="text" class="validate">
          <label for="Apellidos">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="Correo" type="email" class="validate">
          <label for="Correo">Correo</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
        <input formControlName="Celular" type="text" class="validate">
        <label for="Celular">Celular</label>
      </div>
    </div>


    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    
    </form>
  </div>