.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
}


.row{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
