
<section id="pantalla-dividida">
    <div class="izquierda">
      <div class="vehi">
        <h2>VEÍCULOS</h2>
      </div>


      <!--<p class="text-muted "><b>VEÍCULOS</b></p>-->
      <div class="d-grid">

        <button class="btn btn-light" type="button">Renaul</button>

        <button class="btn btn-light" type="button">Chevrolet</button>

        <button class="btn btn-light" type="button">Mazda</button>

        <button class="btn btn-light" type="button">Nissan</button>

        <button class="btn btn-light" type="button">Toyota</button>

        <button class="btn btn-light" type="button">Mercedes-Benz</button>

        <button class="btn btn-light" type="button">Audi</button>

        <div class="mb-3"></div>
      </div>
    </div>

    <div class="derecha">
      <div class="mb-3"></div>
      <h1>Bienvenido a Alquil.app</h1>
      <div class="mb-5"></div>
      <section>

        <div class="contenedor">
          <div>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.motor.com.co%2Ffotos%2Fmercedes-benz-eqc-primer-carro-electrico-produccion-firma%2F31076&psig=AOvVaw2p_-0z6KefIF1Suh-1pduh&ust=1638986784925000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjH4duj0vQCFQAAAAAdAAAAABAD">
            <h3>Mercedes-Benz</h3>
          </div>

          <article>
            <img src="/Proyecto-DW-Ciclo-4/src/app/plantilla/inicio/Mercedes-Benz2.jpg">
            <h3>Audi</h3>
          </article>

          <article>
            <img src="/">
            <h3> Mercedes-Benz</h3>
          </article>
        </div>
      </section>

      <section>
        <div class="contenedor1">
          <article>
            <img src="/Proyecto-DW-Ciclo-4/src/app/plantilla/inicio/imagenes/Mercedes-Benz2.jpg">
            <h3>Mercedes-Benz</h3>
          </article>

          <article>
            <img src="">
            <h3>Audi</h3>
          </article>

          <article>
            <img src="">
            <h3> Mercedes-Benz</h3>
          </article>
        </div>
      </section>
    </div>
  </section>

