<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">ALQUIL.APP</h5>
          <p class="black-text text-lighten-4">Venta de Automóviles</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">SOBRE NOSOTROS</h5>
          <ul>
            <li><a class="black-text text-black-3" href="#!">Misión</a></li>
            <li><a class="black-text text-black-3" href="#!">Visión</a></li>
            <li><a class="black-text text-black-3" href="#!">Historia</a></li>
            <li><a class="black-text text-black-3" href="#!">Contáctanos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
      © 2021 Copyright todos los derechos reservados
      </div>
    </div>
  </footer>
