

body{
    background-image: url('/images/auto.jpg');
    background-size: 100vw 100vw;
    background-attachment: fixed;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-dark);
    letter-spacing: .05rem;
}

.container-fluid{
    background-color: white;
}

.navbar-nav{
    background-color: white;
}

.navbar-brand{
    background-color: white;
}

form {
    width: 600px;
    margin: auto;
    background: rgba(205, 209, 218, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 2%;
    font-size: 50px;
    margin-bottom: 50px;
}

.button{
    background: rgba(255, 255, 255, 0.664);
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    height: 60px;
    width: 100%;
    padding: 2%;


}

.button span{
    margin-right: 10px;


}

.button.blue {
    background: rgba(255, 255, 255, 0.664);
    box-shadow: 0px 3px 0px#ccc0c0e0;

}


#boton:hover{
    cursor:pointer;
}
